.DS_Store
.atom/
.dart_tool/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
*.iml
doc/
**/local.properties

node_modules
flutter_export_environment.sh
example/ios/.symlinks/flutter
example/ios/.symlinks/plugins/soundpool
example/lib/generated_plugin_registrant.dart
android/.classpath
android/.project
android/.settings/org.eclipse.buildship.core.prefs
launch.json
Flutter.podspec
.flutter-plugins-dependencies
