launch.json
soundpool/example/android/.project
soundpool/example/android/.settings/org.eclipse.buildship.core.prefs
soundpool/example/android/app/.classpath
soundpool/example/android/app/.project
soundpool/example/android/app/.settings/org.eclipse.buildship.core.prefs
org.eclipse.buildship.core.prefs
.flutter-plugins
.flutter-plugins-dependencies
soundpool_macos/.idea/modules.xml
soundpool_macos/.idea/workspace.xml
soundpool_macos/.idea/libraries/Dart_SDK.xml
soundpool_macos/.idea/libraries/Flutter_for_Android.xml
soundpool_macos/.idea/runConfigurations/example_lib_main_dart.xml
soundpool_macos/pubspec.lock
soundpool_macos/ios/Flutter/flutter_export_environment.sh
soundpool_macos/ios/Flutter/Generated.xcconfig
soundpool_macos/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
soundpool_macos/macos/Flutter/ephemeral/flutter_export_environment.sh
GeneratedPluginRegistrant.swift
soundpool_web/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
soundpool_web/macos/Flutter/ephemeral/flutter_export_environment.sh
soundpool/example/linux/flutter/generated_plugin_registrant.cc
soundpool/example/linux/flutter/generated_plugin_registrant.h
soundpool/example/linux/flutter/generated_plugins.cmake
.idea