launch.json
soundpool/example/android/.project
soundpool/example/android/.settings/org.eclipse.buildship.core.prefs
soundpool/example/android/app/.classpath
soundpool/example/android/app/.project
soundpool/example/android/app/.settings/org.eclipse.buildship.core.prefs
org.eclipse.buildship.core.prefs
