name: soundpool
description: A Flutter Sound Pool for playing short audio files. Sound tracks are cached in memory and played directly from cache.
version: 1.0.0
homepage: https://github.com/ukasz123/soundpool/soundpool

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.10.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

  soundpool_platform_interface: ^1.0.0

  flutter_web_plugins:
    sdk: flutter
  
  http: ^0.12.0+2
    
flutter:
  plugin:
    platforms:
      android:
        package: pl.ukaszapps.soundpool
        pluginClass: SoundpoolPlugin
      ios:
        pluginClass: SoundpoolPlugin
      web:
        pluginClass: SoundpoolPlugin
        fileName: soundpool_web.dart
