name: soundpool
description: A Flutter Sound Pool for playing short audio files. Sound tracks are cached in memory and played directly from cache.
version: 2.2.0
homepage: https://github.com/ukasz123/soundpool/tree/master/soundpool

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=2.0.0'

dependencies:
  flutter:
    sdk: flutter

  soundpool_platform_interface: ^2.1.0
  
  soundpool_web: ^2.1.0
  soundpool_macos: ^2.1.2

flutter:
  plugin:
    platforms:
      android:
        package: pl.ukaszapps.soundpool
        pluginClass: SoundpoolPlugin
      ios:
        pluginClass: SoundpoolPlugin
      web:
        default_package: soundpool_web 
      macos:
        default_package: soundpool_macos
